@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #02C6FF;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #0093bf;
}

.form {
   position: relative;
   left: center;
   top: 50px;
   background: #ffffff;
   padding: 30px 30px 0 30px;
   max-width: 600px;
   margin: auto;
   border-radius: 4px;
   box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #ffffff;
  color: #a0b3b0;
  font-size: 15px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #0093bf;
  color: #ffffff;
}

.tab-group .active a {
  background: #02c6ff;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 12px;
}

label .req {
  margin: 2px;
  color: #02C6FF;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 12px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: rgba(0, 0, 0, 0.5);
}

input, textarea {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #a0b3b0;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #00A9DB;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row {
  padding-top: 15px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #02c6ff;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover, .button:focus {
  background: #0093bf;
}

.button-block {
  display: block;
  width: 100%;
}

.button-reset {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #3C4C4E;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button-reset:hover {
  background: #0093bf;
}

label.fielddescription {
  display: block;
  position: relative;
  left: 0px;
  top: -8px;
  color: #000000;
  pointer-events: none;
  font-size: 16px;
}


label.postdescription {
  display: inline;
  position: relative;
  left: 0px;
  top: -8px;
  color: #000000;
  pointer-events: none;
  font-size: 16px;
}

.logoutform {
  position: absolute;
  left: 80%;
  top: 1%;
  padding: 50px 50px;
}

label.logoutlabel {
  text-align: center;
  top: 2%;
  color: #000000;
  font-size: 16px;
}

.button-logout {
  padding: 10px;
  font-size: 12px;
}

/* Job feed */
.custab{
    display: inline-block;
    overflow-y: scroll;
    margin: 1% 0;
    padding-left: 20px;
    transition: 0.5s;
}

/* Location subtitle in job feed */
.subtitleBold{
  font-size: 8px;
  font-weight: bold;
}

.favFilter{
  margin-left: 20px;
}

#jobtitle{
	width: 100%;
}

#location{
	width: 100%;
}
